/* Colors */
$primary-color: #318c2f;
$primary-text-color:#ffffff;

$secondary-color: #2f6288;
$secondary-text-color:#ffffff;

$light-color:#f4f4f4;
$light-text-color:#666666;

$dark-color:#333333;
$dark-text-color:#ffffff;

$default-block-color:#ffffff;

/* Context Colors */
$success-color:#5cb85c;
$info-color:#5bc0de;
$warning-color:#f0ad4e;
$danger-color:#d9534f;